<div class="card" [ngClass]="{ sale: article.isOnSale }">
  <h2>{{ article.name }}</h2>

  <a [routerLink]="['/article', article.id]">
    <img [src]="article.imageUrl | defaultImage" alt="imagen-articulo" />
  </a>

  <p [ngClass]="{ 'not-sale-price': !article.isOnSale }">Precio: {{ article.price }} €</p>

  <div *ngIf="article.isOnSale">
    <p>Cantidad: {{ article.quantityInCart }}</p>

    <button (click)="decrease()" [disabled]="article.quantityInCart === 0">-</button>
    <button (click)="increase()">+</button>
  </div>
</div>
